-
    var navItems = [
        { "label": "Home", "href": "/", "icon": "home" },
        { "label": "Portfolio", "href": "/developer/portfolio", "icon": "code" },
        { "label": "Scope", "href": "/developer/scope", "icon": "developer_board" },
        { "label": "About", "href": "/about", "icon": "new_releases" },
    ];

ul.navigation-items
    each item in navItems
        li.navigation-item
            a(href=item.href, class=`navigation-item-link ${item.label.toLowerCase() == activePage.toLowerCase() ? 'active' : ''} ${item.className ? item.className : ''}` title=item.label data-icon=item.icon) !{item.label}