extends ../../layout/index
block mainContent
    section.page-section
        h2.title !{mainTitle}
        //- MAIN INFO
        article.page-article
            h2.title.left Main Information

            .data-row
                i.material-icons phone
                strong !{locals.currentUser.mobile}
                
                a(href=`mailto:${locals.currentUser.email}` title="Email")
                    i.material-icons email
                    | !{locals.currentUser.email}
                
                i.material-icons location_on
                strong !{locals.currentUser.address}
        //- SKILLS
        article.page-article
            h2.title.left Skills:

            table
                thead
                    tr
                        th Name
                        th Description
                tbody
                    each skill in locals.currentUser.scope.skills
                        tr
                            td !{skill.name}
                            td !{skill.description}