extends ../../layout/index
block mainContent
    section.page-section
        h2.title !{mainTitle}
        //- MAIN INFO
        article.page-article
            h2.title.left General Information

            ul.data-row.general-info
                li.info-data
                    strong
                        i.material-icons.location location_on
                        if (locals.currentUser.address)
                            | !{locals.currentUser.address}
                        else
                            a(href="/user/profile" title="Your address") Add address

                li.info-data
                    strong
                        i.material-icons.phone phone
                        if (locals.currentUser.mobile)
                            | !{locals.currentUser.mobile}
                        else
                            a(href="/user/profile" title="Your phone number") Add phone number

                li.info-data
                    a(href=`mailto:${locals.currentUser.email}` title="Email")
                        i.material-icons.email email
                        | !{locals.currentUser.email}
        //- SKILLS
        article.page-article
            h2.title.left Skills:

            table
                thead
                    tr
                        th Name
                        th Description
                tbody
                    each skill in locals.currentUser.scope.skills
                        tr
                            td !{skill.name}
                            td !{skill.description}