extends ../../layout/index
block mainContent
    section.page-section
        h2.title !{mainTitle}
        //- MAIN INFO
        article.page-article
            h2.title.left Main Info

            .data-row
                strong Mobile !{locals.currentUser.mobile}
            .data-row
                strong Email !{locals.currentUser.email}
            .data-row
                strong Address !{locals.currentUser.address}
        //- SKILLS
        article.page-article
            h2.title.left Skills:

            table
                thead
                    tr
                        th Name
                        th Description
                tbody
                    each skill in locals.currentUser.scope.skills
                        tr
                            td !{skill.name}
                            td !{skill.description}